<!-- I deleted the template that this project started with and added my own HTML code-->

<!--container for score board-->
<div class="score-board">
  <div class="badge" id="user-label">user : {{userSelected}}</div>
  <div class="badge" id="comp-label">comp : {{compSelected}}</div>
  <!--displays the user's and computer's scores-->
  <span id="user-score">{{userScore}}</span>:<span id="comp-score">{{compScore}}</span>
</div>

<div class="result">
  <p *ngIf="status">{{userSelected}} {{action}} {{compSelected}}{{status}}</p>
</div>

<!--container for the three options to choose from-->
<div class="choices">
  <!--first option, rock. if clicked, calls the "userPick" function, specifying that they chose rock-->
  <div class="choice" id="rock">
    <img src="../assets/images/rock.png" (click)='userPick("rock")'>
  </div>
  <!--second option, paper. if clicked, calls the "userPick" function, specifying that they chose paper-->
  <div class="choice" id="paper">
    <img src="../assets/images/paper.png" (click)='userPick("paper")'>
  </div>
  <!--third option, scissors. if clicked, calls the "userPick" function, specifying that they chose scissors-->
  <div class="choice" id="scissors">
    <img src="../assets/images/scissors.png" (click)='userPick("scissors")'>
  </div>
</div>

<p id="action-message" *ngIf="!status">Show Me Your Moves!</p>
<p id="action-message" *ngIf="status">Wait...</p>